
<div class="container contact_us_container">
	<div class="contact_us_inner text-center row">
		<script type="text/javascript">var submitted=false;</script>
			    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
			onload="if(submitted) {window.location='#/thank-you'; submitted=false;}"></iframe>
			      <form action="https://script.google.com/macros/s/AKfycbzK6oFXX3gKN9eUW-f1uCENbzqAYcwyg9Xn1Jok9Fyo6aulyRE/exec" method="post" target="hidden_iframe" 
			onsubmit="submitted=true;">		
			<div class="field">
				<h2 class="field_h2">Feedback</h2>
			</div>
			<div class="field">
				<input id="input_name" class="input_name_class" type="text" placeholder="Name" name="name"><br>
			</div>
			<div class="field">
				<input id="email" class="email" type="text" placeholder="Email Address" name="email"><br>
			</div>
			<div class="field">
				<input id="subject" class="subject_class" type="text" placeholder="Subject" name="subject"><br>
			</div>
			<div class="field">
				<textarea class="message_class" placeholder="Type your message here" rows="5" name="message"></textarea><br>
			</div>
			<div class="field">
				<button type="submit" name="send" class="btn btn-primary contact_submit_button">Submit</button>
			</div>
		</form>		
	</div>
	<div class="row map_section">
		<div class="col-xs-12 col-md-6 text-center">
			<h2>Washington Asbestos Testing</h2>
			<h4>Washington Asbestos Testing LLC <br>
				11200 Kirkland Way 340A Kirkland WA 98033 US</h4>
				<ul>
					<a href="tel:+1.4256587286"><li>+1.4256587286</li></a>
					<a href="tel:+1.4254964819"><li>+1.4254964819</li></a>
				</ul>
				<p><a href="mailto:WATestingLLC@gmail.com">WATestingLLC@gmail.com</a></p>
		</div>
		<div class="col-xs-12 col-md-6">
				<div my-map=""></div>
		</div>
			
	</div>
</div>



