	<div class="container">
		<div class="row footer_top">
			<div class="col-xs-12 col-md-3 footer_sections">
			<h3>Services We Provide</h3>
			<ul class="footer_list">
				<li><a ng-href="#/services">Lead Testing</a></li>
				<li><a ng-href="#/services">Mold Testing</a></li>
				<li><a ng-href="#/services">Asbestos Testing</a></li>
				<li><a ng-href="#/services">Lead Testing</a></li>
				<li><a ng-href="#/services">Pre-Demolition Surveys</a></li>
				<li><a ng-href="#/forms">Forms</a></li>
			</ul>
		</div>
			<div class="col-xs-12 col-md-3 footer_sections">
				<h3>Training</h3>
				<ul class="footer_list">
					<li><a ng-href="#/training">Asbestos supervisor initial </a></li>
					<li><a ng-href="#/training">Asbestos supervisor refresher</a></li>
					<li><a ng-href="#/training">Asbestos worker initial</a></li>
					<li><a ng-href="#/training">Asbestos worker refresher</a></li>
					<li><a ng-href="#/training">AHERA building inspector initial</a></li>
					<li><a ng-href="#/training">AHERA building inspector refresher</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3 footer_sections">
				<h3>About Us</h3>
				<ul class="footer_list">
					<li><a ng-href="#/meet_the_team">Meet the Team</a></li>
					<li><a href="#/home">About WAT</a></li>
					<li><a href="#/coming-soon">Careers</a></li>
					<li><a ng-href="#/contact">Contact Us</a></li>		
				</ul>
			</div>
			<div class="col-xs-12 col-md-3 footer_sections">
				<h3>Help & Documentation</h3>
				<ul class="footer_list">
					<li><a ng-href="#/faq">FAQ</a></li>
					<li><a ng-href="#/forms">Forms</a></li>
					<li><a ng-href="#/coming-soon">Future Projects</a></li>
				</ul>
			</div>
		</div>
		<div class="row footer_bottom">
			<div class="col-xs-12 footer_sections text-center">
				<h3>Contact Us</h3>
				<a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+1.4254964819</a>
				<a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+1.4256587286</a>
				<a href="mailto:WATestingLLC@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> WATestingLLC@gmail.com</a>
			</div>
		</div>
		<div class="row footer_bottom">
			<div class="col-xs-12 footer_sections text-center">
				<span>Find Us On </span>
				<a href="https://www.facebook.com/WATesting/?pnref=lhc"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
				<a href="https://www.facebook.com/WATesting/?pnref=lhc"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
				<a href="mailto:WATestingLLC@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row footer_bottom">
			<div class="col-xs-12 footer_sections text-center" ng-controller="MainController">
				<p>2013- {{ date | date: 'yyyy' }} Washington Asbestos Testing LLC© All Rights Reserved</p>
				<p>*Recognized as a proficient testing laboratory through the American Industrial Hygiene Association and nationally accredited by <img src="css/assets/nvlap.png"></p>
				<p class="noah_class">Site created by<a id="noah_id" href="http://nmkettler.github.io/">Noah Kettler</a></p>
			</div>
		</div>
	</div>
