<div class="container contact_us_container">
	<div class="contact_us_inner text-center row">
		<form name="contactform" method="post" action="contact_form.php">
			<div class="field">
				<h2 class="field_h2">Feedback</h2>
			</div>
			<div class="field">
				<input id="input_name" class="input_name_class" type="text" placeholder="Name" name="name">
			</div>
			<div class="field">
				<input id="email" class="email" type="text" placeholder="Email Address" name="email">
			</div>
			<div class="field">
				<input id="subject" class="subject_class" type="text" placeholder="Subject" name="subject">
			</div>
			<div class="field">
				<textarea class="message_class" placeholder="Type your message here" rows="5" name="message"></textarea>
			</div>
			<div class="field">
				<button type="submit" name="send" class="btn btn-primary contact_submit_button" >Submit</button>
			</div>
			<div class="field" id="map_link">
				
			</div>
		</form>		
	</div>
	<div class="row map_section">
		<div class="col-xs-12 col-md-6">
			<h2>Washington Asbestos Testing</h2>
			<h4>Washington Asbestos Testing LLC <br>
				11200 Kirkland Way 340A Kirkland WA 98033 US</h4>
				<ul>
					<li>+1.4256587286</li>
					<li>+1.4254964819</li>
				</ul>
				<p><a href="mailto:WATestingLLC@gmail.com">WATestingLLC@gmail.com</a></p>
		</div>
		<div class="col-xs-12 col-md-6">
				<div id="map"></div>
		</div>
				
	</div>
</div>

