<div class="container faq_container">
	<div class="faq_inner" slide-to-show-div>
		<h1 class="text-center">Frequently Asked Questions</h1>
		<div class="faq_question">
			<h4>What is asbestos? <span><i class="fa fa-caret-down fa-1x" aria-hidden="true"></i></span></h4>
		</div>
		<div class="faq_answer">
			<p class="p_faq_answer">Asbestos is the name associated with six regulated mineral fibers that has been used commercially in a variety of building construction materials. Because of its high tensile strength and heat resistant properties, asbestos has been used for a wide range of manufactured goods.</p>
		</div>
		<div class="faq_question">
			<h4>Where can I find asbestos in my home? <span><i class="fa fa-caret-down fa-1x" aria-hidden="true"></i></span></h4>
		</div>
		<div class="faq_answer">
			<p class="p_faq_answer">Asbestos can be found in a variety of building materials. Below are some examples of building materials commonly containing asbestos:</p>
			<ul>
				<li>Roofing shingles</li>
				<li>Ceiling and floor tiles</li>
				<li>Paper products</li>
				<li>Asbestos cement board-siding</li>
				<li>Joint compound/texture on wall systems</li>
				<li>Window glaze </li>
				<li>All forms of mastic</li>
				<li>Gaskets</li>
				<li>Insulations</li>
				<li>Wire insulation</li>
				<li>Sink undercoating</li>
				<li>Sheet vinyls</li>
			</ul>
		</div>
		<div class="faq_question">
			<h4>How do I take a sample of suspect material for Asbestos? <span><i class="fa fa-caret-down fa-1x" aria-hidden="true"></i></span></h4>
		</div>
		<div class="faq_answer">
			<p class="p_faq_answer">Dependent on the material the sampling procedure is different. Follow these simple guidelines for each type of sampling:</p>
			<p class="p_faq_answer">Wallboard systems (Plaster, Wallboard)</p>	
			<ul>
				<li>Make sure to wet the surface of the material you want to test, this will help prohibit any potential dust when taking the sample.</li>
				<li>Use a sharp utility knife (or something comparable) a remove no more than 1"x 1" of material.</li>
				<li>Place sample inside a sealed plastic bag and label the room of the house the sample was taken as well as a description of the sampled material (i.e.- Living Room, Popcorn Ceiling Texture) </li>
				<li>Fill out a chain of custody (on our forms page-bulk asbestos) and either mail the sample to our address or deliver to our office.</li>
			</ul>
			<p class="p_faq_answer">Sheet vinyl, vinyl tile flooring</p>
				<ul>
					<li>Make sure to wet the surface of the material you want to test, this will help prohibit any potential dust when taking the sample.</li>
					<li>Use a sharp utility knife (or something comparable) a remove no more than 1"x 1" of material. Make sure to get to the bottom layer of flooring. Sometimes we find that vinyl flooring may be over additional layers of vinyl flooring. It is imperative that you reach the bottom layer so that we may be able to analyze the mastic that holds the vinyl to the subfloor.</li>
					<li>Place sample inside a sealed plastic bag and label the room of the house the sample was taken as well as a description of the sampled material (i.e.- Living Room, Popcorn Ceiling Texture) </li>
					<li>Fill out a chain of custody (on our forms page-bulk asbestos) and either mail the sample to our address or deliver to our office. </li>
				</ul>
			<p class="p_faq_answer">Blown-in-​Insulation</p>
				<ul>
					<li>Make sure to wet the surface of the material you want to test, this will help prohibit any potential dust when taking the sample.</li>
					<li>Make sure to take samples from the bottom of the insulation. Provided that the insulation contains asbestos, the asbestos will settle to the bottom of the bay overtime. Be generous on the sampling of blown-in-insulation. We recommend that you fill a sealed plastic bag complete with the suspect material.</li>
					<li>Fill out a chain of custody (on our forms page-bulk asbestos) and either mail the sample to our address or deliver to our office. </li>
				</ul>
			<p class="p_faq_answer">Sink undercoating</p>
				<ul>
					<li>Make sure to wet the surface of the material you want to test, this will help prohibit any potential dust when taking the sample.</li>
					<li>Use a metal scraper (or something comparable) and make sure to scrape the material. until you have more than a pinch of material in the bottom of a sealed plastic bag.</li>
					<li>Fill out a chain of custody (on our forms page-bulk asbestos) and either mail the sample to our address or deliver to our office. </li>
				</ul>
			<p class="p_faq_answer">For all other misc. sampling follow these basic steps:</p>
			<ul>
				<li>Make sure to wet the surface of the material you want to test, this will help prohibit any potential dust when taking the sample.</li>
				<li>Make sure to sample no more than 1" x 1" of an area.</li>
				<li>Make sure to get through all the layers of material you find suspect for testing.</li>
				<li>Place sample inside a sealed plastic bag and label the room of the house the sample was taken as well as a description of the sampled material (i.e.- Living Room, Popcorn Ceiling Texture) </li>
				<li>Fill out a chain of custody (on our forms page-bulk asbestos) and either mail the sample to our address or deliver to our office.</li>
			</ul>
		</div>
		<div class="faq_question">
			<h4>What is Lead based paint? <span><i class="fa fa-caret-down fa-1x" aria-hidden="true"></i></span></h4>
		</div>
		<div class="faq_answer">
			<p class="p_faq_answer">Lead paint or lead-based paint is paint containing lead. As pigment, lead(II) chromate (PbCrO4, "chrome yellow") and lead(II) carbonate (PbCO3, "white lead") are the most common forms. Lead is added to paint to speed up drying, increase durability, maintain a fresh appearance, and resist moisture that causes corrosion. It is one of the main health and environmental hazards associated with paint. In some countries, lead continues to be added to paint intended for domestic use, whereas countries such as the U.S. and the U.K. have regulations prohibiting this, although lead paint may still be found in older properties painted prior to the introduction of such regulations. Although lead has been banned from household paints in the United States since 1978, paint used in road markings may still contain it.</p>
		</div>
		<div class="faq_question">
			<h4>Where can I find Lead paint in my home? <span><i class="fa fa-caret-down fa-1x" aria-hidden="true"></i></span></h4>
		</div>
		<div class="faq_answer">
			<p class="p_faq_answer">Lead based paint can be found in a variety of painted materials, below is a list of common lead based paint containing materials:</p>
			<ul>
				<li>Exterior paint (siding and trim)</li>
				<li>Interior paint -wall systems (walls and ceilings)</li>
				<li>Window trim exterior and interior</li>
				<li>Baseboards, crown moldings, door jams etc.</li>
				<li>Cabinet paint</li>
			</ul>
		</div>
		<div class="faq_question">
			<h4>How do I take a sample of suspect material for Lead? <span><i class="fa fa-caret-down fa-1x" aria-hidden="true"></i></span></h4>
		</div>
		<div class="faq_answer">
			<p class="p_faq_answer">Follow these procedures when testing for Lead:</p>
			<ul>
				<li>Make sure to wet the surface of the material you want to test, this will help prohibit any potential dust when taking the sample.</li>
				<li>Remove no less than 1" x 1" of suspect paint chip</li>
				<li>Place sample inside a sealed plastic bag and label the room of the house the sample was taken as well as a description of the sampled material (i.e.- Living Room, baseboard paint "LEAD") </li>
				<li>Either mail the sample to our address or deliver to our office. </li>
			</ul>
		</div>
		<div class="faq_question">
			<h4>For Mold Testing: <span><i class="fa fa-caret-down fa-1x" aria-hidden="true"></i></span></h4>
		</div>
		<div class="faq_answer">
			<p class="p_faq_answer">Please contact our office directly and we will discuss the best options for you. </p>
		</div>
	</div>
</div>