<div class="container forms_container">
	<div class="forms_inner text-center">
		<h1>Chain of Custody</h1>
		<p>Please click and fill out the form that pertains to your samples. Bring this form in with your samples to our office.</p>

		<div class="forms_pdfs">
			<ul>
				<li><a href="http://nebula.wsimg.com/5af7ae89696c43ddc64cd793613f9a0a?AccessKeyId=619792DA25277DACDFB3&disposition=0&alloworigin=1">Chain of Custody-PLM (Bulk Asbestos)</a></li>
				<li><a href="http://nebula.wsimg.com/28bc4f5b9f8a14a56e00436957e1a803?AccessKeyId=619792DA25277DACDFB3&disposition=0&alloworigin=1">Chain of Custody-PCM (Asbestos Air)</a></li>
			</ul>
		</div>
		<p id="forms_note">*Please note that mold , lead and TEM chain of custody's are not listed here. Please call the office directly for questions on paperwork. </p>
	</div>
</div>