<div class="main-hero-bg img-responsive">
	<div class="row row-offcanvas row-offcanvas-left">       
         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation"> 
         	<a href="#" id="closeMenu">Close</a>         
            <ul class="nav nav-sidebar">
              <li><a href="">Company</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Training</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>     
        </div><!--/span-->		
	</div> <!-- sidebar-offcanvas-->
	<div class="headerInfo">
		<div class="buttonGroup">
			<button class="btn btn-primary" id="contactButton">Contact Us</button>
			<button class="btn btn-primary" id="learnMoreButton">Learn More</button>
		</div>	
	</div>
	<div class="scrollArrowOuter">
		<div class="scrollArrow">
			<span><i anchor-smooth-scroll class="fa fa-angle-down fa-5x" aria-hidden="true"></i></span>
		</div>
	</div>
	<div class="menuToggleButton">
		<i class="fa fa-caret-square-o-right fa-5x" id="toggleMenuButtonId" aria-hidden="true"></i>
	</div>
</div> <!-- main-hero-bg-->