<div class=" container-fluid main-hero-bg">
	<div class="headerInfo img-responsive">
		<h1>Call for <span class="typer"></span></h1>
		<div class="headerText">
			<h4>Here at Washington Asbestos Testing LLC, we are dedicated to you and all your different testing needs. </h4>
		</div>		
		<div class="buttonGroup">
			<button class="btn btn-primary" id="learnMoreButton">Learn More</button>
		</div>	
	</div>
	<div class="scrollArrowOuter">
		<div class="scrollArrow" scroll-to-div>
			<span><i anchor-smooth-scroll class="fa fa-angle-down fa-5x" aria-hidden="true"></i></span>
		</div>
	</div>
	<a back-to-top href="#" id="back-to-top" title="Back to top" class=""><i class="fa fa-angle-up fa-3x"></i></a>
</div> <!-- main-hero-bg-->

<div class="container-fluid second-section">
	<div class="secSectionTitle post">
		<h2 class="post text-center">Our Company At A Glance</h2>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 text-center post">
			<p>Here at Washington Asbestos Testing LLC, we are dedicated to you and all your different testing needs.
			We are recognized through the American Industrial Hygienist Association for our analytical accuracy and precision. </p>
			<p>
				<a class="product_description_link post" href="#/services"><strong>Service Features</strong></a>
			</p>
		</div>
	</div> <!--row-->
	<div class="row center-block product_description_icon text-center post">
		<div class="col-xs-12 col-md-4">
			<img src="css/assets/file_cabinet.png">
			<h2 class="product_description_title">Services We Provide</h2>
			<strong>Voted #1 in Seattle</strong>
			<ul class="product-description-description">
				<li>Lead Testing</li>
				<li>Asbestos-PLM</li>
				<li>Mold Testing</li>
				<li>Pre-Demolition Surveys (Good Faith)</li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-4">
			<img src="css/assets/microscope.png">
			<h3 class="product_description_title">Knowledge Base</h3>
			<strong>You will feel more secure</strong>
			<ul class="product-description-description">
				<li>Certified Analysts</li>
				<li>Ongoing Accountability</li>
				<li>Years of Experience</li>
				<li>Quartly Graded Staff</li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-4">
			<img src="css/assets/question.png">
			<h3 class="product_description_title">Benefits with Us</h3>
			<strong>Make every message personal</strong>
			<ul class="product-description-description">
				<li>Available 24/7</li>
				<li>Friendly, helpful, and knowledgeable staff</li>
				<li>Same day Asbestos Testing Results</li>
				<li>48hr turn around on demolition surveys </li>
			</ul>
		</div>
	</div> <!--row-->
	<div class="row featured_certified_section post">
		<div class="col-xs-12 col-md-3 cert_title_container">
			<h5 class="certification_title">Our Certifications:</h5>
		</div>
		<div class="col-xs-12 col-md-9 push-left">
			<div class="col-xs-3 col-sm-3 certification_image_container">
				<a href="https://www3.epa.gov/"><img src="css/assets/epa.jpg"></a>
			</div>
			<div class="col-xs-3 col-sm-3 certification_image_container">
				<a href="http://www.arguspacific.com/"><img src="css/assets/argpac.png"></a>
			</div>
			<div class="col-xs-3 col-sm-3 certification_image_container">
				<a href="https://www.godaddy.com/"><img src="css/assets/godadyseal.png"></a>
			</div>
			<div class="col-xs-3 col-sm-3 certification_image_container">
				<a href="https://www.nist.gov/nvlap"><img src="css/assets/nvlap.jpg"></a>
			</div>
		</div> <!-- col-md-9 -->
	</div>
</div>
<div class="container-fluid third_section">
	<div class="secSectionTitle ">
		<h2 class="post text-center">Want to Sign Up for Our Training?</h2>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 text-center post">
			<p>We are excited to inform you that Washington Asbestos Testing LLC is going to be adding training courses to its available services </p>
			<p>
				<a href="#/training"><button class="btn btn-primary training_button">Learn More</button></a>
			</p>
		</div>
	</div> <!--row-->
</div>
