<div id="o-wrapper" class="o-wrapper">

	  <div class="c-buttons">
	    <img src="css/assets/menuimage.png" class="fa fa-bars fa-3x c-button" id="c-button--slide-left">
	  </div>

	  <!-- other content in here -->

	</div><!-- /o-wrapper -->

	<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
	  <button class="c-menu__close">&larr; Close Menu</button>
	  <ul class="c-menu__items">
	    <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
	    <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
	    <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
	    <li class="c-menu__item"><a href="#" class="c-menu__link">Work</a></li>
	    <li class="c-menu__item"><a href="#" class="c-menu__link">Contact</a></li>
	  </ul>
	</nav><!-- /c-menu slide-left -->

	<div id="c-mask" class="c-mask"></div><!-- /c-mask -->
<div class="main-hero-bg img-responsive">
	<div class="headerInfo">
		<div class="buttonGroup">
			<button class="btn btn-primary" id="contactButton">Contact Us</button>
			<button class="btn btn-primary" id="learnMoreButton">Learn More</button>
		</div>	
	</div>
	<div class="scrollArrowOuter">
		<div class="scrollArrow">
			<span><i anchor-smooth-scroll class="fa fa-angle-down fa-5x" aria-hidden="true"></i></span>
		</div>
	</div>

</div> <!-- main-hero-bg-->