<div class="container meet_the_team_container" animated-functionality>
	<div class="staff_row_1 staff_rows row flipInDiv">
		<div class="col-md-6">
			<h4>Mike Stearns</h4>
			<p class="staff_description">Hi my name is Mike Stearns and I am the owner of Washington Asbestos Testing LLC. I started this company out of my garage  and we are now one of the leading testing laboratories in the state of Washington! My experience comes from residential and commercial restoration where I have seen first hand how environmental testing has made an impact on the job site. I believe this is very important because without environmental testing like we provide, the homeowner and contractor alike are at a health risk. </p>
		</div>
		<div class="col-md-6">
			<img class="center-block" src="css/assets/staff_photos/mikephoto.jpg">
		</div>
	</div>
	<div class="staff_rows row flipInDiv">
		<div class="col-md-6">
			<h4>David Henry</h4>
			<p class="staff_description">Hi my name is David Henry. I have a background in geology and have a fascination with science. I am the head analyst at Washington Asbestos Testing LLC and have enjoyed working here since the start. I am experienced in analytical testing for both PLM and PCM asbestos testing and have recently been certified for our field work including demolition surveys. I am with Washington Asbestos Testing because this company is heading in the right direction and I want to be a part of it!</p>
		</div>
		<div class="col-md-6">
			<img class="center-block" src="css/assets/staff_photos/davidphoto.jpg">			
		</div>
	</div>
	<div class="staff_rows row flipInDiv">
		<div class="col-md-6">
			<h4>Raz Mansurd</h4>			
			<p class="staff_description">Hi my name is Raz Mansurd. My background is in geology and come from years of experience in the laboratory setting. I have experience with PLM, PCM and Lead analysis using Flame AA. Before I came to Washington Asbestos Testing I also retained my building inspector certification for building surveys. I am with Washington Asbestos Testing because I know I can contribute to the growth of this company and am here for the ride!</p>
		</div>
		<div class="col-md-6">
			<img class="center-block" src="css/assets/staff_photos/razphoto.jpg">			
		</div>
	</div>
	<div class="staff_rows row flipInDiv">
		<div class="col-md-6">
			<h4>Bruce Rogstad</h4>			
			<p class="staff_description">Hi my name is Bruce Rogstad. I combine my experience as a trainer, safety manager, Project Manager, Site Superintendent, and military Service Member with my regulatory knowledge to teach students, and establish and maintain safe work environments. I am a dynamic, results-driven professional trainer with more than 12 years' experience providing course development and delivery in a variety of modalities. <br>
			I am with Washington Asbestos Testing because I want to help build a better training program than what is available for current students.</p>
		</div>
		<div class="col-md-6">
			<img class="center-block" src="css/assets/staff_photos/brucephoto.jpg">			
		</div>
	</div>
</div>