<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>   
      <a ng-href="#/home"><img class="img-responsive logo" src="css/assets/logo.png"></a>
    </div>
    <div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav navbar-right">
	      <li class="dropdown"> <a ng-href="#/services" class="dropdown-toggle" data-toggle="dropdown">Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
	            <ul class="dropdown-menu container" id='numberList'>
	                <ul class="row">
	                	<div class="col-md-10">
	                		<a ng-href="#/services"><li>Asbestos</li></a>
			                <a ng-href="#/services"><li>Lead</li></a>
			                <a ng-href="#/services"><li>Mold</li></a>
			                <a ng-href="#/services"><li>Pre-Demolition Surveys</li></a>
			                <a href="#/faq"><li>FAQ</li></a>
	                	</div>
		                <div class="col-md-2">
	                		<a href=""><li><i class="fa fa-angle-right" aria-hidden="true"></i></li></a>
			                <a href=""><li><i class="fa fa-angle-right" aria-hidden="true"></i></li></a>
			                <a href=""><li><i class="fa fa-angle-right" aria-hidden="true"></i></li></a>
			                <a href=""><li><i class="fa fa-angle-right" aria-hidden="true"></i></li></a>
			                <a href=""><li><i class="fa fa-angle-right" aria-hidden="true"></i></li></a>
	                	</div>
	                </ul>
	            </ul>            
	        </li>           
	      <li><a ng-href="#/training">Training</a></li>	            
	      <form class="navbar-form navbar-right">
	    	<a href="#/contact"><button class="btn btn-default navButton">Contact Us</button></a>
	      </form>	                        
	    </ul>

  </div>
  </div>
</nav>