@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Raleway';
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

html, body {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  overflow-x: hidden; }

ul {
  list-style-type: none; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4 {
  margin: 0; }

button:hover {
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

#centerItems {
  left: 0;
  line-height: 200px;
  margin-top: -150px;
  position: absolute;
  text-align: center;
  top: 50%; }

/*======================= Navigation =============================*/
.navbar {
  background: rgba(255, 255, 255, 0.5);
  padding: 5px 0px;
  margin-bottom: 0;
  border: none;
  font-size: 15px;
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.navbar-default .navbar-nav li a {
  font-size: 16px;
  color: #171717; }
  .navbar-default .navbar-nav li a:hover {
    color: #aeb5ba; }

.dropdown-menu {
  width: 350px;
  list-style-type: none;
  background-color: #172735; }
  .dropdown-menu li {
    width: 100%; }

#numberList {
  margin-top: 10px; }

ul#numberList.dropdown-menu ul a li {
  color: #aeb5ba;
  width: 100%;
  padding: 5px 0px 5px 15px;
  font-weight: 700; }
  ul#numberList.dropdown-menu ul a li:hover {
    color: #e7e7e7; }

.navButton {
  background-color: #f87474;
  color: #e7e7e7;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px 10px; }
  .navButton:hover {
    background-color: #d96810;
    color: #e7e7e7; }

.logo {
  width: 120px; }

/*======================= First Section =============================*/
@media screen and (min-width: 785px) {
  #homebuttons, #contactButton, #learnMoreButton {
    font-weight: 700;
    font-size: 20px;
    border: none;
    width: 190px;
    height: 60px;
    margin: 0px 10px;
    border-radius: 0 !important; }
  #centerButtonGroup {
    left: 0;
    line-height: 200px;
    margin-top: -150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%; }
  .main-hero-bg {
    min-height: 995px;
    width: 100%;
    opacity: 1;
    background: url(assets/sec1BG.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -50px;
    position: relative; }
  .headerText {
    width: 35%; }
  .headerInfo {
    left: 0;
    line-height: 200px;
    margin: -150px 0 15px 50px;
    position: absolute;
    top: 50%;
    width: 100%; }
  .headerInfo h1 {
    color: #e7e7e7;
    font-weight: 900;
    font-size: 60px; }
  .headerInfo h4 {
    color: #e7e7e7;
    font-size: 25px; }
  #learnMoreButton {
    background-color: #f87474;
    border: 1px solid #000; }
    #learnMoreButton:hover {
      background-color: transparent;
      border: 1px solid #fff; }
  .scrollArrowOuter {
    /* Make parent elemnts width 100% so child (scrollArrow) can center*/
    position: absolute;
    bottom: 10px;
    width: 100%; }
  .scrollArrow {
    width: 70px;
    height: 70px;
    margin: 0px auto;
    border: 1px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
    .scrollArrow:hover {
      background: #f87474;
      color: #e7e7e7;
      border-color: #000000; }
  .scrollArrow span {
    margin-left: 10px; } }

@media screen and (max-width: 785px) {
  #mobilehomebuttons, #contactButton, #learnMoreButton {
    font-weight: 700;
    font-size: 15px;
    border: none;
    width: 100px;
    height: 30px;
    margin: 0px 10px;
    border-radius: 0 !important; }
  .main-hero-bg {
    min-height: 667px;
    width: 100%;
    opacity: 1;
    background: url(assets/sec1BG.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -50px;
    position: relative; }
  .headerText {
    left: 0;
    line-height: 200px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%; }
  .headerInfo {
    left: 0;
    line-height: 200px;
    margin-top: -150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%; }
  .headerInfo h1 {
    color: #e7e7e7;
    font-weight: 900;
    font-size: 30px; }
  .headerInfo h4 {
    color: #e7e7e7;
    font-size: 15px; }
  #learnMoreButton {
    background-color: #f87474;
    border: 1px solid #000; }
    #learnMoreButton:hover {
      background-color: transparent;
      border: 1px solid #fff; }
  .scrollArrowOuter {
    /* Make parent elemnts width 100% so child (scrollArrow) can center*/
    position: absolute;
    bottom: 10px;
    width: 100%; }
  .scrollArrowOuter {
    /* Make parent elemnts width 100% so child (scrollArrow) can center*/
    position: absolute;
    bottom: 10px;
    width: 100%; }
  .scrollArrow {
    width: 35px;
    height: 35px;
    margin: 0px auto;
    border: 1px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
    .scrollArrow:hover {
      background: #11325f;
      color: #e7e7e7;
      border-color: #000000; }
  .scrollArrow span {
    margin-left: 5px;
    font-size: 7px; } }

/*======================= Second Section =============================*/
.secSectionTitle {
  margin: 75px 0px 30px 0; }
  .secSectionTitle h2 {
    font-weight: 700; }

.second-section {
  margin-bottom: 0;
  margin-top: 0;
  padding: 44px 0;
  width: 100%; }
  .second-section h1 {
    font-size: 40px;
    padding-top: 15px; }

.product_description_icon {
  margin-top: 22px; }

.product_description_icon img {
  max-width: 250px; }

.product_description_title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 0px; }

.product-description-description {
  margin-top: 22px;
  padding-left: 0;
  text-align: center; }

.product_description_link {
  font-size: 14px;
  line-height: 35px;
  margin-top: 30px; }

.featured_certified_section {
  margin-top: 42px; }

.certification_title {
  font-size: 20px;
  margin-top: 25px;
  text-align: right;
  font-weight: 700; }

.certification_image_container a img {
  width: 100px;
  margin: 0;
  padding: 0;
  vertical-align: middle; }

/*======================= Third Section =============================*/
.third_section {
  background-color: #6088e0;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  padding: 44px 0; }

.training_button {
  background-color: transparent;
  padding: 5px 15px;
  font-size: 20px;
  color: #e7e7e7;
  margin-top: 20px;
  border-color: #e7e7e7; }
  .training_button:hover {
    background-color: #f87474;
    color: #e7e7e7; }

/*=============================================== Services Page ===================================================*/
/*======================= Asbestos Row =============================*/
@media screen and (min-width: 785px) {
  .services_page_container img {
    width: 300px;
    margin-top: 30px; }
  .labServiceButton {
    background-color: #f87474;
    padding: 5px 15px;
    font-size: 20px;
    color: #e7e7e7;
    margin-top: 20px;
    border-color: #e7e7e7; }
    .labServiceButton:hover {
      background-color: #172735;
      color: #e7e7e7; }
  .service_main_title {
    font-size: 60px;
    font-weight: 700; }
  .services_page_container {
    margin-top: 66px; }
  .services_individual_titles {
    margin: 22px 0;
    font-size: 30px;
    font-weight: 700; }
  .inner_services_container {
    padding: 32px 5px 32px 200px; }
  .labServiceButton {
    margin-bottom: 20px; }
  .asbestos_lab, .lead_lab, .mold_lab, .demo_lab {
    display: none; }
  .asbestos_row, .lead_row, .mold_row, .demo_row {
    margin-top: 100px; }
  .asbestos_row {
    background: url(assets/bg-slide-down.jpg) no-repeat center center; }
  .mold_row {
    background: url(assets/bg-slide-down.jpg) no-repeat center center; }
  .active {
    background-color: green; } }

.service_breadcrumbs {
  position: fixed;
  top: 50%;
  padding: 25px 5px 25px 5px;
  text-align: center;
  line-height: 30px;
  background: rgba(50, 110, 138, 0.8);
  color: #e7e7e7;
  cursor: pointer;
  border: 1px solid #fdde33;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 9999; }

.service_breadcrumbs li {
  font-size: 20px;
  padding-top: 5px; }
  .service_breadcrumbs li:hover {
    background: #e7e7e7;
    color: #444; }

@media screen and (max-width: 785px) {
  .service_breadcrumbs {
    display: none; }
  .services_page_container img {
    width: 300px;
    margin-top: 30px; }
  .asbestos_lab, .lead_lab, .mold_lab, .demo_lab {
    display: none; }
  .service_main_title {
    font-size: 60px;
    font-weight: 700; }
  .services_page_container {
    margin-top: 66px; }
  .services_individual_titles {
    margin: 22px 0;
    font-size: 30px;
    font-weight: 700; }
  .asbestos_row, .lead_row, .mold_row, .demo_row {
    margin-top: 100px; }
  .asbestos_row {
    background: url(assets/bg-slide-down.jpg) no-repeat center center; }
  .mold_row {
    background: url(assets/bg-slide-down.jpg) no-repeat center center; } }

/*=============================================== Training Page ===================================================*/
.training_main_container {
  background-image: url(assets/training-sec-one-bg.jpg);
  background-position: top;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  margin-top: -50px;
  width: 100%;
  position: relative; }

.training_inner {
  margin: 150px auto;
  top: 50%;
  width: 800px;
  color: #171717;
  background-color: rgba(255, 255, 255, 0.93);
  padding: 100px; }
  .training_inner h1 {
    font-size: 60px;
    font-weight: 100px; }
  .training_inner h4 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px; }

.training_list {
  margin-top: 42px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; }
  .training_list li {
    font-size: 20px; }

.training_box_bottom_sec {
  margin-top: 42px; }

.training_sign_up_btn {
  background-color: #f87474;
  color: #e7e7e7;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 20px; }

@media screen and (max-width: 785px) {
  .training_inner {
    margin: 150px auto;
    top: 50%;
    width: 300px;
    color: #171717;
    background-color: rgba(255, 255, 255, 0.93);
    padding: 10px; }
    .training_inner h1 {
      font-size: 40px;
      font-weight: 100px; }
    .training_inner h4 {
      margin-top: 14px;
      font-size: 10px;
      line-height: 15px; }
  .training_list {
    margin-top: 42px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    .training_list li {
      font-size: 15px; } }

/*=============================================== Contact Us ===================================================*/
#contactFormStyle, .input_name_class, .email, .subject_class, .message_class {
  font-weight: 300;
  color: #787878;
  padding: 15px;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #4a90e2;
  width: calc(60% - 2 * 100px);
  font-size: 1em; }

.field_h2 {
  padding-bottom: 40px;
  color: #7398bb;
  font-weight: 700; }

.contact_us_inner {
  margin: 100px 0; }

.message_class {
  margin: 20px 0; }

.contact_submit_button {
  background-color: #c20d1e;
  border-radius: 0;
  border: none;
  padding: 25px 20px;
  text-transform: uppercase;
  line-height: 0.1em;
  font-size: 0.8em;
  margin-top: 30px; }
  .contact_submit_button:hover {
    background-color: #890d19; }

#map_link {
  margin-top: 50px;
  font-size: 14px;
  line-height: 35px; }

#map {
  width: 100%;
  height: 400px;
  display: none; }

@media screen and (max-width: 785px) {
  #contactFormStyle, .input_name_class, .email, .subject_class, .message_class {
    font-weight: 300;
    color: #787878;
    padding: 15px;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #4a90e2;
    width: calc(100% - 2 * 10px);
    font-size: 1em; } }

/*=============================================== Footer ===================================================*/
.site-footer {
  padding: 66px 0;
  background-color: #172735;
  color: #e7e7e7; }

.footer_list li a {
  color: #aeb5ba;
  font-weight: 100;
  line-height: 20px;
  white-space: nowrap;
  font-size: 14px; }

.footer_sections h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 11px; }

.footer_bottom {
  margin-top: 44px; }

.footer_sections a {
  margin-left: 10px;
  font-size: 20px;
  color: #aeb5ba; }

/*======================= Scrolling Animations =============================*/
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 30px;
  background: rgba(50, 110, 138, 0.8);
  color: #444;
  cursor: pointer;
  border: 1px solid #fdde33;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0; }

#back-to-top i {
  text-align: center;
  color: #f6f3e8; }

#back-to-top:hover {
  background: rgba(96, 136, 224, 0.8); }

#back-to-top:hover i {
  color: #000; }

#back-to-top.show {
  opacity: 1; }

@media screen and (max-width: 785px) {
  #back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: rgba(50, 110, 138, 0.8);
    color: #444;
    cursor: pointer;
    border: 1px solid #fdde33;
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    opacity: 0; } }

.post {
  visibility: hidden; }

.animated {
  visibility: visible !important; }
